{% extends 'base.html' %}

{% block content %}
	<div>
		<h2>Test Details</h2>
		<br>
		<div class="align-right">
			<button  class="btn btn-success  btn-sm" data-toggle="modal" data-target = "#new_emp_modal"> + New Test</button>
		</div>

		

		<div class="alert alert-success alert-dismissable m-2" style='display: none' id = 'alert_message' role="alert">

			<button type="button" class="close" data-dismiss="alert" aria-label="close">
				<span aria-hidden="true">x</span>
			</button>
			<p id = 'text_message'></p>
		</div>

		
		<hr>
		<table id="emp-table" class="cell-border compact stripe">
			<thead>
				<tr>
					<th>Test #</th>
                    <th>Name</th>
					<th>Date</th>
					<th>Hours</th>
					<th>Max Score</th>
					<th>Score</th>
                    <th>Registration #</th>
                    <th>FAA Admin</th>
					<th>Technician</th>					
                    <th>Action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	
	<!-- Add test modal -->
	<div id="new_emp_modal" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add Test</h4>
				</div>
				<div class="modal-body">
					<form id = 'insert_emp_form'>
						{% csrf_token %}
						<div class="form-group">		  
							<label>Name:</label>
							<input type="text" class="form-control" name="t_name"  id="t_name" required="1">		  
						</div>

						<div class="form-group">		  
							<label>Max Score:</label>
							<input type="number" class="form-control" name="maximum_possible_score" id="maximum_possible_score" required="1">		  
						</div>
						
                        <div class = "form-group" id = "registration_number_field">
							<label for="registration_number">Registration Number:</label>
							<br>
							<select id="registration_number" style='width: 100%;' required></select>
						</div>

                        <div class = "form-group" id = "tech_id_field">
							<label for="tech_id">Technician:</label>
							<br>
							<select id="tech_id" style='width: 100%;' required></select>
						</div>
                        
						<div class="form-group">
							<button class="btn btn-primary  mt-1" type="submit">Add Test</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>	  
		</div>		  
	</div>

	<!-- Delete employee modal -->
	<div id="delete_emp_modal" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete test details</h4>
				</div>
				<div class="modal-body">
					<form id = "delete_emp_form">		  
						{% csrf_token %}
						<div class="form-group hide">		  
							<label>Number</label>
							<input type="number" class="form-control" name="d_t_number" id="d_t_number" required="1">		  
						</div>
						<div class="form-group">		  
							<label>Name:</label>
							<input type="text" class="form-control" name="d_t_name" id="d_t_name" required="1">		  
						</div>
						
						<div class="form-group">
							<button class="btn btn-danger mt-1" type="submit">Delete test details</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>	  
		</div>		  
	</div>


	<!-- Edit employee modal -->
	<div id="edit_emp_modal" class="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update test details</h4>
				</div>
				<div class="modal-body">
					<form id = 'emp_edit_form'>		  
						{% csrf_token %}
                        <div class="form-group hide">		  
							<label>number:</label>
							<input type="number" class="form-control" name="u_t_number"  id="u_t_number" required="1">		  
						</div>
						<div class="form-group">		  
							<label>Name:</label>
							<input type="text" class="form-control" name="u_t_name"  id="u_t_name" required="1">		  
						</div>

						<div class="form-group">		  
							<label>Max Score:</label>
							<input type="number" class="form-control" name="u_maximum_possible_score" id="u_maximum_possible_score" required="1">		  
						</div>
                        <div class = "form-group" id = "u_registration_number_field">
							<label for="u_registration_number">Registration Number:</label>
							<br>
							<select id="u_registration_number" style='width: 100%;' required></select>
						</div>

                        <div class = "form-group" id = "u_tech_id_field">
							<label for="u_tech_id">Technician:</label>
							<br>
							<select id="u_tech_id" style='width: 100%;' required></select>
						</div>
                        
                        <div class="form-group">
							<button class="btn btn-primary mt-1" type="submit">Update test details</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>	  
		</div>		  
	</div>
	


	<!-- Loading datatable records using ajax-->
	<script language="javascript">

		$(document).ready(function() {
			var table = $('#emp-table').DataTable( {
				"processing": true,
				"serverSide": true,
				"ajax": "/gettestdetails/",
				//"pageLength": 2
				"columnDefs": [{
					"targets": -1,
					"data": null,
					"defaultContent": "<button class='btn btn-warning btn-sm' data-toggle='modal' data-target = '#edit_emp_modal'>Edit</button>/<button class='btn btn-danger  btn-sm' data-toggle='modal' data-target = '#delete_emp_modal'>Delete</button>",
					"orderable": false,
					"width": "81px"						
					
				}]
			});

			// load data in text fields on button click
			$('#emp-table tbody').on( 'click', 'button', function () {
				var data = table.row( $(this).parents('tr') ).data();
				//alert( data[0] +"'s salary is: "+ data[ 5 ] );
				console.log(data);
				console.log($(this)[0].className);
				if (($(this)[0].className)=='btn btn-danger  btn-sm'){
					$('#d_t_number').val(data[0]);
					$('#d_t_name').val(data[1]);		
				}
				else{
					$('#u_t_number').val(data[0]);
					$('#u_t_name').val(data[1]);
					$('#u_number_of_hours').val(data[3]);
					$('#u_maximum_possible_score').val(data[4]);
					$('#u_registration_number').val(data[6]);
					$('#u_tech_id').val(data[8]);                       			
				}
			});

			// add employee ajax call
			$(document).on('submit', '#insert_emp_form', function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:'/inserttestdetails/',
					data: {
                                                
						t_name : $('#t_name').val(),
						number_of_hours : $('#number_of_hours').val(),
						maximum_possible_score : $('#maximum_possible_score').val(),
						registration_number : $('#registration_number').val(),
						tech_id : $('#tech_id').val(),
						csrfmiddlewaretoken: "{{csrf_token}}"
					},
					success: function (result) {
						$('#new_emp_modal').modal('toggle');
						$('#alert_message').show();
						$('#text_message').text("Test added successfully");
						table.ajax.reload();
					},
					error :function(result) { 
						alert("Error: " + result.responseJSON.error); 
					}
				})
			});

			// edit test ajax call
			$(document).on('submit', '#emp_edit_form', function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:'/updatetestdetails/',
					data: {
                        t_number : $('#u_t_number').val(),
						t_name : $('#u_t_name').val(),

						maximum_possible_score : $('#u_maximum_possible_score').val(),
						registration_number : $('#u_registration_number').val(),
						tech_id : $('#u_tech_id').val(),
						csrfmiddlewaretoken: "{{csrf_token}}"
						
					},
					success: function (result) {
						$('#edit_emp_modal').modal('toggle');
						$('#alert_message').show();
						$('#text_message').text("Test updated successfully");
						table.ajax.reload();
					},
					error :function(result) { 
						alert("Error: " + result.responseJSON.error); 
					}
				})
			});

			// delete employee 
			$(document).on('submit', '#delete_emp_form', function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:'/deletetestdetails/',
					data: {
						t_number : $('#d_t_number').val(),
						csrfmiddlewaretoken: "{{csrf_token}}"
					},
					success: function (result) {
						$('#delete_emp_modal').modal('toggle');
						$('#alert_message').show();
						$('#text_message').text("Test deleted successfully");
						table.ajax.reload();
					},
					error :function(result) { 
						alert("Error: " + result.responseJSON.error); 
					}
				})
			});

			// dynamic dropdown for tech id
			$('#registration_number').select2({
				ajax: {
					url: '/dropdown/?param=registration',
					dataType: 'json',
					processResults: function (data) {
						return {
							results: $.map(data.results, function (item) {
								//console.log(item.id, item.text);
								return {
									text: item.text,
									id: item.id
								}
							})
						};
					}
					
				},
				dropdownParent: $('#new_emp_modal .modal-content')			
			});

            // dynamic dropdown for tech id
			$('#u_registration_number').select2({
				ajax: {
					url: '/dropdown/?param=registration',
					dataType: 'json',
					processResults: function (data) {
						return {
							results: $.map(data.results, function (item) {
								//console.log(item.id, item.text);
								return {
									text: item.text,
									id: item.id
								}
							})
						};
					}
					
				},
				dropdownParent: $('#edit_emp_modal .modal-content')			
			});
			
			
			$('#tech_id').select2({
				ajax: {
					url: '/dropdown/?param=tech',
					dataType: 'json',
					data: function (params) {
						console.log($('#registration_number').val());
						var query = {
							reg:$('#registration_number').val()
						}
						// Query parameters will be ?search=[term]&type=public
						return query;
					},
					processResults: function (data) {
						return {
							results: $.map(data.results, function (item) {
								//console.log(item.id, item.text);
								return {
									text: item.text,
									id: item.id
								}
							})
						};
					}
					
				},
				dropdownParent: $('#new_emp_modal .modal-content')			
			});

            $('#u_tech_id').select2({
				ajax: {
					url: '/dropdown/?param=tech&reg='+$('#u_registration_number').val(),
					dataType: 'json',
					processResults: function (data) {
						return {
							results: $.map(data.results, function (item) {
								//console.log(item.id, item.text);
								return {
									text: item.text,
									id: item.id
								}
							})
						};
					}
					
				},
				dropdownParent: $('#edit_emp_modal .modal-content')			
			});
			
		});

		
	</script>

{% endblock %}