{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
		<style>
			th {
				text-align: left;
			}			
		</style>
	</head>
	<body>
		<h1>User Details</h1>
        
		<hr>
		<table id="users-table" class="cell-border stripe">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone #</th>
					<th>City</th>
					<th>State</th>
					<th>Country</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<script language="javascript">
			$(document).ready(function() {
				$('#users-table').DataTable( {
					"processing": true,
					"serverSide": true,
					"ajax": "http://127.0.0.1:8000/getuserdetails/"
					//"pageLength": 2
				} );
			} );
		</script>
    
	</body>
</html>